:root {
    --clr-neon: rgb(76, 68, 85);
    --clr-blue: rgb(0, 132, 255);
    --clr-green: rgb(56, 130, 0);
    --clr-red: rgb(255, 0, 0);
    --clr-yellow: rgb(174, 174, 0);
  }

  body {
    overflow: hidden;
  }

  :disabled {
    pointer-events: none;
  }
  
  button {
    font-size: 2rem;
    color: var(--clr-neon);
    border: var(--clr-neon) 0.1em solid;
    padding: 0.25em 1em;
    border-radius: 0.1em;
    text-shadow: 0 0 0.2em hsl(0 0% 100% / 0.3), 0 0 0.5em currentColor;
    box-shadow: inset 0 0 0.4em 0 var(--clr-neon), 0 0 0.4em 0 var(--clr-neon);
    position: relative;
    cursor: pointer;
  }

  button:disabled {
      filter: brightness(90%);
  }
  
  button::before {
    top: 75%;
    left: 0;
    width: 75%;
    height: 75%;
    opacity: 0.7;
    pointer-events: none;
  }
  
  button::after {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    box-shadow: 0 0 2em 0.5em var(--clr-neon);
    opacity: 0;
    background-color: var(--clr-neon);
    z-index: -1;
  }

button.blue:hover,
button.blue:focus {
  color: var(--clr-blue);
  text-shadow: none;
  text-align: center;
  font-size: 3em;
  margin-bottom: 0;
  margin-top: 0;
  line-height: 1;
  text-decoration: none;
  color: blue;
  animation: blueButtonFlash 1.5s ease-in-out infinite alternate;
}


button.red:hover,
button.red:focus {
  color: var(--clr-red);
  text-shadow: none;
  text-align: center;
  font-size: 3em;
  margin-bottom: 0;
  margin-top: 0;
  line-height: 1;
  text-decoration: none;
  color: red;
  animation: redButtonFlash 1.5s ease-in-out infinite alternate;
}
button.yellow:hover,
button.yellow:focus {
  color: var(--clr-yellow);
  text-shadow: none;
  text-align: center;
  font-size: 3em;
  margin-bottom: 0;
  margin-top: 0;
  line-height: 1;
  text-decoration: none;
  color: darkgoldenrod;
  animation: yellowButtonFlash 1.5s ease-in-out infinite alternate;
}
button.green:hover,
button.green:focus {
  color: var(--clr-green);
  text-shadow: none;
  text-align: center;
  font-size: 3em;
  margin-bottom: 0;
  margin-top: 0;
  line-height: 1;
  text-decoration: none;
  color: green;
  animation: greenButtonFlash 1.5s ease-in-out infinite alternate;
}


button:hover::before,
button:focus::before {
  opacity: 1;
}
button:hover::after,
button:focus::after {
  opacity: 1;
}

.current-score {
    color: #fff;
    text-shadow:
        0 0 1px oldlace,
        0 0 10px oldlace,
        0 0 20px oldlace,
        0 0 40px rgb(123, 235, 255),
        0 0 80px rgb(123, 235, 255),
        0 0 90px rgb(123, 235, 255),
        0 0 100px rgb(123, 235, 255),
        0 0 125px rgb(123, 235, 255);
    font-size: 2em;
    display: grid;
    text-align: center;
    justify-content: center;
    align-items: center;
    grid-template-areas: 
        "  div  "
        "  div  "
    ;
    grid-template-columns: 50% 50%;
}

#glow-ring {
  display: grid;
  align-items: center;
  justify-content: space-around;
  text-align: center;
  width: 15vw;
  border-radius: 25%;
  background: linear-gradient(#023e8aff, #ade8f4ff, #0096c7ff);
}




