*{
    --midnight-blue: #03045eff;
--dark-cornflower-blue: #023e8aff;
--star-command-blue: #0077b6ff;
--blue-green: #0096c7ff;
--pacific-blue: #00b4d8ff;
--sky-blue-crayola: #48cae4ff;
--middle-blue: #90e0efff;
--blizzard-blue: #ade8f4ff;
--light-cyan: #caf0f8ff;
}

:root {
    --header-background: var(--middle-blue);
    
}




body {
    height: 100%;
    padding-bottom: 30px;
    font-family: 'Rubik', san-serif;
    background: rgb(177,205,239);
    background: radial-gradient(circle, rgba(177,205,239,1) 0%, rgba(59,117,185,1) 100%);
}

header {
    padding: 10px;
    position: sticky;
    top: 0;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    background-color: var(--header-background);
}

#user {
    flex-grow: 2;
    margin-right: 20px;
    text-align: right;
    display: grid;
}

#user a {
    font-size: .8em;
    color:steelblue;
}

.hidden {
    display: none;
}

main {
    height: 100%;
}

footer {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 10px;
    display: flex;
    justify-content: flex-end;
    
}
