*{
    text-decoration: none;
    --midnight-blue: #03045eff;
--dark-cornflower-blue: #023e8aff;
--star-command-blue: #0077b6ff;
--blue-green: #0096c7ff;
--pacific-blue: #00b4d8ff;
--sky-blue-crayola: #48cae4ff;
--middle-blue: #90e0efff;
--blizzard-blue: #ade8f4ff;
--light-cyan: #caf0f8ff;
}

:root {
    --header-background: var(--middle-blue);
    
}

body {
    height: 100%;
    padding-bottom: 30px;
    font-family: 'Rubik', san-serif;
    background: rgb(177,205,239);
    background: radial-gradient(circle, rgba(177,205,239,1) 0%, rgba(59,117,185,1) 100%);
}

header {
    height: 100px;
    min-height: 80px;
    z-index: 999;
    padding: 10px;
    top: 0;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    background-color: var(--header-background);
}

header .avatar-image {
    width: 48px;
    height: 48px;
}

.avatar-image {
    border-radius: 50%;
    object-fit: cover;
}

#user {
    display: flex;
    gap: 10px;
}

#user a {
    font-size: .8em;
    color:rgb(255, 255, 255);
}

.stacked {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
}

.hidden {
    display: none;
}

main {
    height: 100%;
}
#leader-board li {
    display: flex;
    text-align: center;
    align-items: center;
}
.username-span {
    font-size: 1.25em;
}
.score-span {
    margin: 1em;
}