*{
    --midnight-blue: #03045eff;
--dark-cornflower-blue: #023e8aff;
--star-command-blue: #0077b6ff;
--blue-green: #0096c7ff;
--pacific-blue: #00b4d8ff;
--sky-blue-crayola: #48cae4ff;
--middle-blue: #90e0efff;
--blizzard-blue: #ade8f4ff;
--light-cyan: #caf0f8ff;
}



main#profile-page {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-areas: 
    "score form";
}


#user-score-container {
  grid-area: score;
    
  justify-content: center;
  align-items: center;

form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

  padding: 25px 50px;
  margin: 100px;
  background-color: gray;

  border-radius: 50px;
}

#form-container {
  grid-area: form;
  display: grid;
  grid-template-rows: min-content min-content;
  grid-template-areas: 
    "header"
    "form";
  align-items: center;

  padding: 25px 50px;
  margin: 100px;
  background-color: gray;

  border-radius: 50px;
    
}

#form-container h3 {
    grid-area: header;
}

#profile-form {
  grid-area: form;
  display: flex;
  flex-flow: column nowrap;
}


img#avatar-preview {
  grid-area: preview;

  align-self: center;
  width: 128px;
  height: 128px;
}

#user-score-container {
  display: grid;
  grid-template-rows: min-content min-content;
  grid-template-areas: 
    "header"
    "score-table";
}

#user-score-container h3 {
  grid-area: header;
}

#user-score-container table {
  grid-area: score-table;
}


tbody {
  display: flex;
  flex-direction: column;
  align-items: center;
}

tbody tr {
  align-content:space-between
}

.score-head {
  font-weight: bolder;
  padding: 30px 7px;
}

.time-head {
  font-weight: bolder;
  padding: 30px 7px;
}


.score-span {  
  padding: 7px 30px;
}

.date-tb {
  padding: 30px 7px; 
}

h2 {
  text-align: center;
  font-size: 3em;
  margin-bottom: 0;
  margin-top: 0;
  line-height: 1;
  text-decoration: none;
  color: black;
  animation: profileFlash 1.5s ease-in-out infinite alternate;
}



@keyframes profileFlash {
    from {
      text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px green,
        0 0 70px green, 0 0 80px green, 0 0 100px green, 0 0 150px green;
    }
    to {
      text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #ff1177,
        0 0 35px #ff1177, 0 0 40px #ff1177, 0 0 50px #ff1177, 0 0 75px #ff1177;
    }
  }

